<h1>{{ title }}</h1>
<h4>{{ subtitle }}</h4>

<p-table [value]="dataList" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Nama</th>
            <th>Email</th>
            <th>Kode Satker</th>
            <th>Nama Satker</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.NAMA }}</td>
            <td>{{ user.EMAIL }}</td>
            <td>{{ user.KD_SATKER }}</td>
            <td>{{ user.NM_SATKER }}</td>
        </tr>
    </ng-template>
</p-table>
